{% extends layout %}
{% block title %}Compras{% endblock %}

{% block container %}

<nav class="bg-gradient-to-r from-[#38230f] to-[#4a3a2a] px-4 sm:px-6 py-0 mb-6 relative shadow-lg h-16 flex items-center"
    style="border-bottom: 3px solid #f29f05;">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
        <div class="flex-1 flex justify-center">
            <div class="flex items-center space-x-2 sm:space-x-3 bg-opacity-20 px-3 sm:px-6 py-2 rounded-full">
                <span class="text-base sm:text-2xl font-bold text-white tracking-wider">Gestión de</span>
                <span class="text-base sm:text-2xl font-bold tracking-wider whitespace-nowrap"
                    style="color: #f29f05;">Compras</span>
            </div>
        </div>
    </div>
</nav>

{% endblock %}